<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <system.serviceModel>
  <bindings>
    <basicHttpBinding>
      <binding name="BasicHttpBinding_IBroker" />
    </basicHttpBinding>
    <netTcpBinding>
      <binding name="LoanBinding" maxReceivedMessageSize="73400320" maxBufferPoolSize="73400320" closeTimeout="01:30:00" openTimeout="01:30:00" receiveTimeout="01:30:00" sendTimeout="01:30:00">
        <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="73400320" maxBytesPerRead="73400320" maxNameTableCharCount="73400320"/>
      </binding>
      <binding name="NetTcpBinding_LoanService" closeTimeout="00:30:00"
                 openTimeout="00:30:00" receiveTimeout="01:00:00" sendTimeout="00:30:00"
                 transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
                 hostNameComparisonMode="StrongWildcard" listenBacklog="10"
                 maxBufferPoolSize="73400320" maxBufferSize="73400320" maxConnections="10"
                 maxReceivedMessageSize="73400320">
        <readerQuotas maxDepth="32" maxStringContentLength="10000000"
            maxArrayLength="73400320" maxBytesPerRead="73400320" maxNameTableCharCount="73400320" />
        <reliableSession ordered="true" inactivityTimeout="00:30:00"
            enabled="false" />
        <security mode="Transport">
          <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
          <message clientCredentialType="Windows" />
        </security>
      </binding>
    </netTcpBinding>
  </bindings>
  <client>
    <endpoint address="net.tcp://localhost/LoanService/" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_LoanService" contract="Loan.LoanService"
        name="NetTcpBinding_LoanService">
      <identity>
        <dns value="localhost" />
      </identity>
    </endpoint>
    <endpoint address="http://10.100.27.71/ITSoftBroker" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IBroker" contract="ServiceReference1.IBroker"
        name="BasicHttpBinding_IBroker" />
  </client>
  <services>
    <service name="WCF.LoanService" >
      <host>
        <baseAddresses>
          <add baseAddress="net.tcp://localhost/LoanService/"/>
        </baseAddresses>
      </host>
      <!-- Service Endpoints :8732-->
      <!-- Unless fully qualified, address is relative to base address supplied above -->
      <endpoint address="" binding="netTcpBinding" bindingConfiguration="LoanBinding" contract="WCF.LoanService" >
        <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <!-- Metadata Endpoints -->
      <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
      <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
      <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
    </service>
  </services>
  <behaviors>
    <serviceBehaviors>
      <behavior>
        <dataContractSerializer maxItemsInObjectGraph="65536000"/>
        <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
        <serviceMetadata httpGetEnabled="True" httpGetUrl="http://localhost:8037/LoanService/"/>
        <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
        <serviceDebug includeExceptionDetailInFaults="False"/>
      </behavior>
    </serviceBehaviors>
  </behaviors>
  </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>